body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container {
    width: 80%;
    margin: 0 auto;
}

.how-to-use-1 {
    opacity: 0;
    transform: scale(0.8);
    padding: 40px;
    background-color: #ffffff;
    animation: fadeIn 1s ease-in-out forwards; /* Menggunakan animasi CSS */
    flex: 1; /* Menetapkan flex untuk membagi lebar */

    width: 70%;
}
.how-to-use-2 {
    opacity: 0;
    transform: scale(0.8);
   
    padding: 40px;
    background-color: #ffffff;
    animation: fadeIn 1.5s ease-in-out forwards; /* Menggunakan animasi CSS */
    flex: 1; /* Menetapkan flex untuk membagi lebar */
    width: 70%;
}
.how-to-use-3 {
    opacity: 0;
    transform: scale(0.8);
    text-align: left;
    padding: 20px;
    background-color: #ffffff;
    animation: fadeIn 2s ease-in-out forwards; /* Menggunakan animasi CSS */
    flex: 1; /* Menetapkan flex untuk membagi lebar */
    margin: 10px;
}
.how-to-use-1,
.how-to-use-2,
.how-to-use-3 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan halus */
    background-color: #ffffff; /* Tambahkan latar belakang warna putih */
    text-align: justify;
    text-align: center;
}
.how-to-use-1,
.how-to-use-2,
.how-to-use-3 {
    color: #333; /* Ganti warna teks sesuai kebutuhan */
    font-size: 18px; /* Sesuaikan ukuran teks */
    line-height: 1.6; /* Sesuaikan jarak antar baris */
}
.how-to-use-1,
.how-to-use-2,
.how-to-use-3 {
    padding: 20px; /* Sesuaikan padding sesuai kebutuhan */
    margin: 20px; /* Sesuaikan margin sesuai kebutuhan */
}
.how-to-use-1,
.how-to-use-2,
.how-to-use-3 {
    max-width: 1200px; /* Sesuaikan lebar maksimum sesuai kebutuhan */
    width: 100%;
}

.container-flex p{
    margin: 0;
    font-size: 20px;
}
img {
    max-width: 100%; /* Membuat gambar responsif sesuai dengan lebar container */
    height: auto;
    margin-top: 10px; /* Tambahkan margin atas pada gambar */
    margin-bottom: 10px; /* Tambahkan margin bawah pada gambar */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1; /* Add your preferred background color */
    text-align: center;
    padding: 10px;
  }

/* Styles for CBIR */
.cbir-container {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.cbir-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.cbir-link:hover {
    background-color: #e0e0e0;
}

.text {
    margin: 0;
    font-size: 24px;
}

.hidden-paragraph {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.cbir-link:hover .hidden-paragraph {
    display: block;
}
