@keyframes glowing {
  0% {
    border-color: rgba(138, 34, 34, 0.795);
    box-shadow: 0 0 10px rgba(138, 34, 34, 0.795);
  }
  50% {
    border-color: rgba(138, 34, 34, 0.5);
    box-shadow: 0 0 20px rgba(138, 34, 34, 0.5);
  }
  100% {
    border-color: rgba(138, 34, 34, 0.795);
    box-shadow: 0 0 10px rgba(138, 34, 34, 0.795);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #E8E3E1;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: #fff;
  text-align: center;
  padding: 1px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #19747E;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
.container:hover {
  background-color: #19747e7a;
}
.text{
  color: rgba(22, 14, 90, 0.993)
}

.about_us {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}



.flex-container {
  display: flex;
  margin: 10px;
}
.flex-container {
  display: flex;
  justify-content: center; /* Mengatur konten horizontal ke tengah */
  align-items: center; /* Mengatur konten vertikal ke tengah */
}

.flex-item-image {
  flex: 1;
  background: linear-gradient(to right, #dad8d7, #7575b680);
  padding: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}

/* Untuk gambar di dalam .flex-item-image */
.flex-item-image img {
  max-width: 100%;
  max-height: 100%;
}
.flex-container-vertical {
flex-direction: column;


}

.flex-item {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #dad8d7, #7575b667);
  border: 5px solid rgba(0, 0, 0, 0.192);
}
.flex-item-vert {
flex: 1;
background-color: #b7ced1;
padding: 20px;
text-align: center;
margin: 20px;
background-color: white;
}
.search-button {
  display: inline-block;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px 10px; /* Sesuaikan dengan kebutuhan Anda */
  margin: auto; /* Mengatur margin secara otomatis untuk mengatur tombol di tengah */
}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

/* Membuat tombol toggle bundar */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px; /* Mengatur radius border sehingga tombol menjadi bundar */
  transition: .4s;
}

/* Menyesuaikan ukuran dan bentuk toggle saat diaktifkan */
input:checked + .slider {
  background-color: #2196F3;
  border-radius: 34px; /* Mengatur radius border saat tombol diaktifkan */
}

/* Menyesuaikan bentuk lingkaran saat tombol diaktifkan */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%; /* Mengatur radius border sehingga menjadi bundar */
  transition: .4s;
}

/* Menyesuaikan posisi lingkaran saat tombol diaktifkan */
input:checked + .slider:before {
  transform: translateX(26px);
}


/* CSS styles for the toggle button and text */
/* ... (masukkan kode CSS yang relevan) ... */

.toggle-container {
  display: flex;
  align-items: center; /* Mengatur tombol toggle dan teks secara vertikal */
  justify-content: center; /* Mengatur tombol toggle dan teks secara horizontal (di tengah) */
}


.toggle-text-left {
  margin-right:20px; /* Menambahkan ruang antara teks "Kiri" dan tombol toggle */
  order: -1; /* Memindahkan teks ke sebelah kiri tombol toggle */
}

.toggle-text-right {
  margin-left: 10px; /* Menambahkan ruang antara teks "Kanan" dan tombol toggle */
  order: 1; /* Memindahkan teks ke sebelah kanan tombol toggle */
}

.toggle-text {
  margin: 0 10px; /* Menambahkan ruang horizontal antara teks "Kiri" dan "Kanan" dengan tombol toggle */
  color: blueviolet;
}
.separator {
  border: 1px solid #ccc; /* Warna dan ketebalan garis */
  margin: 10px 0; /* Margin atas dan bawah */
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Mengatur jumlah kolom dan lebar setiap kolom */
  gap: 50px; /* Jarak antara item dalam grid */
  margin: 2px 0; /* Margin atas dan bawah grid */
  padding: 20px;
}

.image-item {
  width: 100%; /* Item gambar 100% lebar dari parentnya */
  position: relative;
  overflow: visible; /* Mengizinkan gambar melampaui batas elemen */
  background-color: #90a1b3;
  transition: transform 0.2s; /* Efek transisi pada transformasi */
}

.image-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 5px solid rgba(138, 34, 34, 0.795);
  transition: border-color 0.3s, box-shadow 0.3s;
  transition: filter 0.3s;
}

.image-item img:hover {
  animation: glowing 1s infinite;
  border-color: rgba(138, 34, 34, 0.795);
  box-shadow: 0 0 10px rgba(138, 34, 34, 0.795);
  filter: brightness(1.2);
}
.image-item:hover img {
  transform: scale(1.2); /* Memperbesar gambar saat elemen di-hover */
  z-index: 1; /* Mengatur z-index untuk menampilkan di atas elemen lain */
  transition: transform 0.5s; /* Efek transisi yang lebih lambat */
}
.image-item:hover {
  animation: glowing 1s infinite;
  border-color: rgba(138, 34, 34, 0.795);
  box-shadow: 0 0 10px rgba(138, 34, 34, 0.795);
}
.grid-container {
  margin: 0 auto; /* Mengatur kontainer grid ke tengah halaman */
  max-width: 1200px; /* Mengatur lebar maksimum kontainer (sesuaikan sesuai kebutuhan) */
}

/* Gaya dasar tombol pagination */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Gaya tombol saat tidak di-hover */
.pagination li {
  margin: 2px;
  padding: 5px 10px;
}

/* Gaya tombol saat di-hover */
.pagination li:hover {
  background-color: #007bff; /* Ubah warna latar belakang saat di hover */
  color: #fff; /* Ubah warna teks saat di hover */
}

/* Gaya tombol aktif (halaman saat ini) */
.pagination .active {
  background-color: #007bff; /* Warna latar belakang khusus untuk tombol aktif */
  color: #fff; /* Warna teks khusus untuk tombol aktif */
  border-radius: 4px; /* Menambahkan border radius ke tombol aktif */
}
.pagination-button {
  background-color: #6d6d6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; /* Mengubah tampilan tombol menjadi block */
  margin: 0 auto; /* Untuk membuat tombol tampak di tengah */
  font-size: 32px;
  border-radius: 10px;
}

.pagination-button:hover {
  background-color: #555;
}


.image-item {
  position: relative;
}

.image-hover {
  position: relative;
  overflow: hidden;
}

.similarity-text {
  position: absolute;
  top: 10px; /* Menggeser teks ke atas */
  right: 10px; /* Menggeser teks ke kanan */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s;
}
.image-item:hover .similarity-text {
  opacity: 1;
}


.image-item .delete-button {
  opacity: 0; /* Tombol delete diatur menjadi transparan secara default */
  transition: opacity 0.3s; /* Efek transisi ketika muncul */
}

.image-item:hover .delete-button {
  opacity: 1; /* Tombol delete akan muncul saat elemen .image-item dihover */
}

.delete-button-container:hover .delete-button {
  opacity: 1;
}
.image-hover:hover .delete-button-container {
  opacity: 1;
}


.delete-button {
  background-color: #ff6666; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none; /* Menghapus border */
  padding: 10px 20px; /* Padding tombol (sesuaikan sesuai kebutuhan) */
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto; /* Mengatur tombol ke tengah */
  font-size: 16px; /* Ukuran teks tombol */
  border-radius: 5px; /* Border radius untuk tombol */
  transition: background-color 0.3s; /* Efek transisi saat di-hover */
}
.delete-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
/* Gaya tombol "Hapus" saat di-hover */
.delete-button:hover {
  background-color: #ff3333; /* Warna latar belakang saat di-hover */
}

/* Gaya tombol "Hapus" saat diklik */
.delete-button:active {
  background-color: #ff0000; /* Warna latar belakang saat diklik */
}