<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylemain.css') }}">
    <!-- Contoh menyertakan font dari Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>

<body style="background-color: #ffffff;">
    <header>
        <h1>
            TUGAS BESAR ALJABAR LINEAR DAN GEOMETRI
            <br>
            IMAGE COMPARISON
        </h1>
        <h2>KELOMPOK CupcakKe</h2>
    </header>

    <br/>
    <div class="cbir-container">
        <a href='/use' class="cbir-link">
            <span class="text">CBIR</span>
            <p class="hidden-paragraph">Hayooo klik!</p>
        </a>
    </div>
    <div class="container-flex">
        <div>
            <h1 style="text-align: center;">How To Use!</h1>
        </div>
        <div class="how-to-use-1">
            
            <h2>Tampilan Gambar ,Pilihan Search dan Upload </h2>
            <p>Dalam segmen ini, pengguna dapat mengunggah gambar dalam bentuk file atau folder sebagai dataset pencarian dengan dua parameter. Setelah unggah, pengguna dapat melihat tampilan gambar yang siap diproses. Terdapat dua tombol utama untuk pencarian Content-Based Image Retrieval (CBIR) berdasarkan tekstur dan warna. Selain itu, terdapat fitur Delete Database yang terdiri dari dua tombol, satu untuk menghapus seluruh dataset dan yang lainnya untuk menghapus dataset spesifik hasil scraping.</p>
            <h3>Upload file / folder</h3>
            <img src="{{ url_for('static', filename='gif3.gif') }}">
            <h3>Searching</h3>
            <img src="{{ url_for('static', filename='gif4.gif') }}">
        </div>
        <div class="how-to-use-2">
            
            <h2>Interaksi dengan image</h2>
            <p>pengguna dapat meng-hover cursor mouse ke image-image yang ada. Pengguna akan diberi 2 pilihan button yaitu ‘Select’ dan ‘Hapus’. Sesuai dengan namanya, Select akan menyeleksi gambar tersebut dan dijadikan sebagai query gambar untuk CBIR. Button Hapus berfungsi untuk menghapus gambar yang pengguna pilih dari dataset. Tiap page, gambar diberi maksimal sebanyak 12 buah, dan dapat berganti-ganti page dari pagination di bawah segmen ini. Dengan menambahkan fungsionalitas Select dan Hapus pada gambar-gambar yang ditampilkan, pengguna dapat dengan mudah melakukan aksi yang diinginkan tanpa harus meninggalkan halaman. </p>
            <h3>Select and Delete</h3>
            <img src="{{ url_for('static', filename='gif2.gif') }}">
            <h3>Similarity Check</h3>
            <img src="{{ url_for('static', filename='gif1.gif') }}">
        </div>
    
        
   
    </div>
    <footer>
        <p>Lebih lanjut tentang kami &nbsp → &nbsp <a href='/about'>About Us</a>.</p>
    </footer>

  
    

</body>

</html>
