<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        <h1>TUBES ALJABAR LINIER DAN GEOMETRI</h1>
        <h2>KELOMPOK CupcakKe</h2>
    </header>
    <div class="container">
        <h2>Tentang Kami</h2>
        <p>Ini adalah halaman utama dari aplikasi Flask sederhana. Aplikasi ini dibuat dengan Flask, sebuah kerangka
            kerja Python yang ringan dan kuat.</p>
        <p>Jika Anda ingin tahu lebih lanjut tentang Flask, kunjungi <a href='/about'>situs
                resminya</a>.</p>
        <p>
            {{ message }}
        </p>
    </div>
    <div class="container">
        <h2>Upload foto</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Unggah">
        </form>
        <h1>{{ unggah }}</h1>
    </div>

    <!--BOOTSTRAP-->
   
</body>

</html>