<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body style="background-color: #ffffff;">
    <header style="background-color: #ffffff;">
        <h1 class="text" style="color: blueviolet;">Reverse Image Search</h1>
    </header>
    <div class="flex-container">
        <div class="flex-item">
            <img src="{{ image_url }}" alt="Uploaded Image"> <!-- Tambahkan elemen img dengan src yang sesuai -->
        </div>
        <div class="flex-item-vert flex-container-vertical">
            <div class="flex-item">
                <h2 class="text">Upload foto</h2>
                
                <form method="POST" enctype="multipart/form-data" action="/use">
                    <input type="file" name="file">
                    <input type="submit" value="Unggah">
                </form>
                <h2 class="text">{{namafile}}</h2>
                <h2 class="text">{{ unggah }}</h2>
            </div>
            <div class="flex-container">
                <div class="flex-item toggle-container">
                    <div class="toggle-content-left">
                        <p class="toggle-text">Color</p> <!-- Teks di sebelah kiri tombol toggle -->
                    </div>
                    <label class="toggle-switch">
                        <input type="checkbox" id="toggle">
                        <span class="slider round"></span>
                    </label>
                    <div class="toggle-content-right">
                        <p class="toggle-text">Texture</p> <!-- Teks di sebelah kanan tombol toggle -->
                    </div>
                </div>
                <div class="flex-item">
                    <button class="search-button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #ccc; margin: 20px 0;"> <!-- Menggunakan style untuk garis separator -->
    <div style="color: blueviolet; padding: 20px;">
        <h2>Result: </h2>
    </div>
    <div class="image-grid">
        {% for image in image_list %}
          <div class="image-item">
            <img src="{{ image }}" alt="Image">
          </div>
        {% endfor %}
      </div>
      
      <div class="pagination">
        {% if current_page > 1 %}
            <a class="pagination-button" href="?page={{ current_page - 1 }}">Previous</a>
        {% endif %}
        
        {% if current_page < num_pages %}
            <a class="pagination-button" href="?page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>
    
      
    
</body>

</html>
