<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body style="background-color: #ffffff;">
    <header style="background-color: #ffffff;">
        <h1 class="text" style="color: blueviolet;">Reverse Image Search</h1>
    </header>
    <div class="flex-container">
        <div class="flex-item-image">
            <img src="{{ image_url }}" alt="Uploaded Image"> <!-- Tambahkan elemen img dengan src yang sesuai -->
        </div>
        <div class="flex-item-vert flex-container-vertical">
            <div class="flex-item">
                <h2 class="text">Upload foto</h2>
                
                <form method="POST" enctype="multipart/form-data" action="/use">
                    <input type="file" name="file">
                    <input type="submit" name = "action" value="Unggah">
                </form>
                <h2 class="text">Nama file : {{namafile}}</h2>
                <h3 class="text">{{ unggah }}</h3>
            </div>
            <div class="flex-container">
                <div class="flex-item toggle-container">
                    <div class="toggle-content-left">
                        <p class="toggle-text">Color</p> <!-- Teks di sebelah kiri tombol toggle -->
                    </div>
                    <label class="toggle-switch">
                        <input type="checkbox" id="toggle">
                        <span class="slider round"></span>
                    </label>
                    <div class="toggle-content-right">
                        <p class="toggle-text">Texture</p> <!-- Teks di sebelah kanan tombol toggle -->
                    </div>
                </div>
                <div class="flex-item">
                    <form action="/use" method="POST">
                        <button type="submit" class="search-button" name = "action" value="Search">Search</button>
                        <button type="submit" class="search-button" name = "action" value="Reset">Reset</button>
                    </form>
                </div>
            </div>
            <div class="flex-item">
                <button id="kamera-button" class="search-button">Fitur Kamera</button>

                <script>
                    const kameraButton = document.getElementById("kamera-button");

                    kameraButton.addEventListener("click", () => {
                        // Gunakan API getUserMedia untuk mengakses kamera
                        if (navigator.mediaDevices.getUserMedia) {
                            navigator.mediaDevices.getUserMedia({ video: true })
                                .then(function (stream) {
                                    // Anda dapat melakukan apa pun dengan aliran video, misalnya menampilkan aliran video di elemen video
                                    const videoElement = document.createElement("video");
                                    videoElement.srcObject = stream;
                                    videoElement.autoplay = true;
                                    kameraButton.parentElement.appendChild(videoElement); // Menambahkan elemen video ke kontainer
                                })
                                .catch(function (error) {
                                    console.error("Gagal mengakses kamera: " + error);
                                });
                        } else {
                            alert("Peramban Anda tidak mendukung akses kamera.");
                        }
                    });
                    </script>
                

            </div>
            <div class="flex-item">
                <h2 class="text">Waktu : {{durasi}}</h2>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #ccc; margin: 20px 0;"> <!-- Menggunakan style untuk garis separator -->
    <div style="color: blueviolet; padding: 20px;">
        <h2>Result: </h2>
    </div>
    <div class="grid-container">
        <div class="image-grid">
            {% for image in image_list %}
                <div class="image-item">
                    <div class="image-hover">
                        <img src="{{ image }}" alt="Image">
                        <div class="delete-button-container">
                            <form method="POST" action="/use">
                                <input type="hidden" name="image_path" value="{{ image }}">
                                <button type="submit" class="delete-button" name="delete_image">Hapus</button>
                            </form>
                        </div>
                    </div>  
                    {% if result %}
                        <h2 class="similarity-text">Similarity : {{ result[loop.index - 1][1] }}</h2>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
      
      <div class="pagination">
        {% if current_page > 1 %}
            <a class="pagination-button" href="?page={{ current_page - 1 }}">Previous</a>
        {% endif %}
        <h2 style="color: blueviolet;">{{ current_page }}</h2>
        {% if current_page < num_pages %}
            <a class="pagination-button" href="?page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>
    <div class="pagination">
        {% for page_num in range(1, num_pages + 1) %}
            <a class = "pagination-button"href="?page={{ page_num }}">{{ page_num }}</a>
        {% endfor %}
    </div>
    
    
      
    
</body>

</html>
