<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- Menggunakan Bootstrap dari CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    
</head>

<body style="background-color: #ffffff;">
    <header style="background-color: #c2abab2f;">
        <h1 class="text" style="color: blueviolet;">Reverse Image Search</h1>
    </header>
    <div id="loading" style="display:none;">
        <img src="{{ url_for('static', filename='search.gif') }}" alt="Loading...">
    </div>
    <div id="loadinggear" style="display:none;">
        <img src="{{ url_for('static', filename='gear.gif') }}" alt="Loading...">
    </div>
    <div id="overlay"></div>
    
    <div class="d-flex justify-content-center" style="background-color: #c2abab2f;">
        <a href = '/' style="text-decoration: none; color: inherit;" >
            <button type="button" class="btn btn-outline-info">HOME</button>
        </a>
        <a href = '/about' style="text-decoration: none; color: inherit;" >
                <button type="button" class="btn btn-outline-info">ABOUT</button>
        </a>
    </div>
    
    <div class="flex-container">
        <div class="flex-item-image">
            <img src="{{ image_url }}" alt="Uploaded Image"> 
        </div>
        <div class="flex-item-vert flex-container-vertical">
            <div class="flex-container">
                <div class="flex-item">
                    <h2 class="text">Upload Dataset (Image)</h2>
                    
                    <form method="POST" enctype="multipart/form-data" action="/use" class="search-button">
                        <input type="file" name="file">
                        <input type="submit" name = "action" value="Unggah">
                    </form>
                    <h2 class="text">Nama file : {{namafile}}</h2>
                    <h3 class="text">{{ unggah }}</h3>
                </div>
                
                <form id="folderForm" action="/use" method="post" enctype="multipart/form-data">
                    <div class="flex-item">
                        <label for="folderInput">
                            <img src="{{ url_for('static', filename='fileblue2.png') }}" alt="fileimg" width="170" height="170">
                        </label>
                        <input type="file" id="folderInput" name="file" style="display: none;" webkitdirectory directory multiple />
                    </div>
                    
                    <!-- Tambahkan input tersembunyi untuk menyimpan nilai action -->
                    <input type="hidden" name="action" id="actionInput" value="uploadfile">
                    
                </form>
                    
                <script>
                    document.getElementById('folderInput').addEventListener('change', function() {
                        // Mengubah nilai input tersembunyi sesuai dengan tindakan yang diinginkan
                        document.getElementById('actionInput').value = 'uploadfile';
                
                        // Menyubmit formulir
                        document.getElementById('folderForm').submit();
                    });
                </script>
                
            </div>
            
            <div class="flex-container">
                <div class="flex-item toggle-container">
                    <div class="toggle-content-left">
                        <form action="/use" method="POST">
                            <button type="submit" class="search-button" name = "action" value="Search" id="loadButton">SearchColor</button>
                            <button type="submit" class="search-button" name = "action" value="SearchTexture" id="loadButton2">SearchTexture</button>  
                        </form>
                    </div>
                </div>
                {% if result %}
                <div class="flex-item">
                    <form action="/use" method="POST">
                        <button type="submit" class="reset-button" name = "action" value="Reset">Reset</button>
                    </form>
                </div>
                {%endif%}
            </div>
            <div class="flex-item">
                <button id="kamera-button" class="search-button">Fitur Kamera</button>
                <button id="matikan-kamera" class="search-button">Matikan Kamera</button>

                
                <h1 id="timer" class="text"></h1>
                <script>
                    const kameraButton = document.getElementById("kamera-button");
                    const timerElement = document.getElementById("timer");
                    const matikanKameraButton = document.getElementById("matikan-kamera");

                    let captureInterval;
                    let secondsLeft = 5;

                    // Fungsi untuk menampilkan timer
                    function showTimer(seconds) {
                        timerElement.textContent = `Gambar akan diambil dalam ${seconds} detik`;
                    }

                    // Fungsi untuk menangani pengambilan gambar dan pengiriman ke server
                    function captureAndSendImage() {
                        var overlay = document.getElementById('overlay');
                        var loadingImage = document.getElementById('loading');

                        
                        const canvas = document.createElement('canvas');
                        const video = document.querySelector('video');
                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;
                        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                        overlay.style.display = 'block';
                        loadingImage.style.display = 'block';

                        // Menambahkan event listener untuk mengetahui kapan halaman selesai dimuat ulang
                        window.addEventListener('load', function () {
                        // Sembunyikan gambar loading dan overlay setelah halaman dimuat ulang
                        overlay.style.display = 'none';
                        loadingImage.style.display = 'none';
                    });

                        // Set mode globalCompositeOperation untuk menghapus kanal alpha
                        canvas.getContext('2d').globalCompositeOperation = 'copy';

                        // Menggambar ulang ke elemen canvas
                        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

                        // Mengonversi elemen canvas ke blob dan mengirim ke server
                        canvas.toBlob(async (blob) => {
                            const formData = new FormData();
                            newCapture = 'captured_image.jpg';
                            formData.append('image', blob, newCapture);

                            // Kirim gambar ke server menggunakan fetch
                            await fetch('/use', {
                                method: 'POST',
                                body: formData,
                            });
                        }, 'image/jpeg');
                    }



                    // Fungsi untuk memulai kamera
                    function startCamera() {
                        timerElement.style.display = "block";
                        if (navigator.mediaDevices.getUserMedia) {
                            navigator.mediaDevices.getUserMedia({ video: true })
                                .then(function (stream) {
                                    const videoElement = document.createElement("video");
                                    videoElement.srcObject = stream;
                                    videoElement.autoplay = true;
                                    kameraButton.parentElement.appendChild(videoElement);

                                    showTimer(secondsLeft);

                                    captureInterval = setInterval(function () {
                                        secondsLeft--;
                                        showTimer(secondsLeft);

                                        if (secondsLeft <= 0) {
                                            captureAndSendImage();
                                            showTimer(secondsLeft);
                                            clearInterval(captureInterval);
                                            setTimeout(() => {
                                                location.reload();
                                            }, 1000);
                                        }
                                    }, 1000);
                                })
                                .catch(function (error) {
                                    console.error("Gagal mengakses kamera: " + error);
                                });
                        } else {
                            alert("Peramban Anda tidak mendukung akses kamera.");
                        }
                    }

                    // Handler saat tombol "Kamera" ditekan
                    kameraButton.addEventListener("click", () => {
                        startCamera();
                        sessionStorage.setItem('kameraActive', 'true'); // Setel status kamera dalam sessionStorage
                    });

                    // Handler saat tombol "Matikan Kamera" ditekan
                    matikanKameraButton.addEventListener("click", () => {
                        const videoElements = document.querySelectorAll('video');
                        videoElements.forEach((videoElement) => {
                            const stream = videoElement.srcObject;
                            const tracks = stream.getTracks();
                            tracks.forEach((track) => {
                                track.stop();
                            });
                            videoElement.parentNode.removeChild(videoElement);
                        });

                        sessionStorage.setItem('kameraActive', 'false'); // Setel status kamera dalam sessionStorage menjadi tidak aktif
                        clearInterval(captureInterval);
                        timerElement.style.display = "none";
                    });

                    // Cek apakah kamera sebelumnya aktif saat halaman dimuat
                    const isCameraActive = sessionStorage.getItem('kameraActive') === 'true';
                    if (isCameraActive) {
                        startCamera(); // Kamera harus diaktifkan kembali jika sebelumnya aktif
                    }
                    

                </script>


            </div>
            <div class="flex-container">
                <div class="flex-item">
                    <form action="/use" method="POST">
                        <button type="submit" class="search-button" name = "action" value="Scrap">Show Scrap</button>
                        <button type="submit" class="search-button" name = "action" value="stopScrape">Hide Scrap</button>
                     
                    </form>
                    <form action="/use" method="POST">
                        <label for="inputText">Masukkan link:</label>
                        <input type="text" id="inputText" name="inputLinkScrap">
                        <input type="submit" name = "action" value="SubmitLink" id="loadButton2">
                    </form>
                    <h2>Scrap view : {{isScrape}}</h2>
                </div>
                <div class="flex-item">
                    <form action="/use" method="POST">
                        <button type="submit" class="search-button" name = "action" value="deleteScrap" style="background-color: red; margin: 10px;">Delete Database scrap</button>
                    </form>
                    <form action="/use" method="POST">
                        <button type="submit" class="search-button" name = "action" value="deletedatabase" style="background-color: red; margin: 10px;">Delete Database</button>
                    </form>
                </div>
            </div>
            {% if result%}
            <div class="flex-item">
                <h2 class="text">{{countfilter}} Result </h2>
                <h2 class="text">Waktu : {{ durasi }} detik</h2>
            </div>
            {% endif %}
        </div>
    </div>
    <hr style="border: 4px solid #ccc; margin: 20px 0;"> <!-- Menggunakan style untuk garis separator -->
    <div>
        <h2 class="text"> - Hover mouse ke gambar untuk informasi -</h2>
    </div>
    {% if result%}
    <div style="color: blueviolet; padding: 20px;" class="flex-item">
        <h2>--Searching {{namafile}} with {{searchType}} parameter -- </h2>
        <h2>Result: </h2>
    </div>
    {% endif %}
    <div class="d-flex justify-content-xl-center">
        {% for page_num in range(1, num_pages + 1) %}
            <a class = "pagination-button" href="?page={{ page_num }}">
                <button type="button" class="btn btn-outline-primary btn-primary btn-lg" >{{ page_num }}</button>
            </a>
        {% endfor %}
    </div>

    {%if result%}
    <div class="grid-container">
        
        <div class="image-grid">
            {% for image in image_list %}
                <div class="image-item">
                    <div class="image-hover">
                        <img src="{{ image }}" alt="Image">
                        <div class="delete-button-container">
                            <form method="POST" action="/use">
                                <input type="hidden" name="image_path" value="{{ image }}">
                            </form>
                        </div>
                    </div>  
                    <h2 class="similarity-text">Similarity : {{ result[loop.index -1 + ((current_page - 1) * 12)][1] }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="grid-container">
        <div class="image-grid">
            {% for image in image_list %}
                <div class="image-item ">
                    <div class="image-hover ">
                        <img src="{{ image }}" alt="Image" class="fade-in">
                        <div class="delete-button-container">
                            <form method="POST" action="/use">
                                <input type="hidden" name="image_path" value="{{ image }}">
                                <button type="submit" class="delete-button" name="delete_image">Hapus</button>
                                <button type="submit" class="delete-button" name="select_image">Select</button>
                            </form>
                        </div>
                    </div>  
                    {% if result %}
                        <h2 class="similarity-text">Similarity : {{ result[loop.index - 1][1] }}</h2>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {%endif%}
    
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var loadButton = document.getElementById('loadButton');
            var loadButton2 = document.getElementById('loadButton2');
            var overlay = document.getElementById('overlay');
            var loadingImage = document.getElementById('loading');
            var loadingImageGear = document.getElementById('loadinggear');

            // Menampilkan gambar loading dan overlay saat tombol diklik
            loadButton.addEventListener('click', function () {
                overlay.style.display = 'block';
                loadingImage.style.display = 'block';

                // Menambahkan event listener untuk mengetahui kapan halaman selesai dimuat ulang
                window.addEventListener('load', function () {
                    // Sembunyikan gambar loading dan overlay setelah halaman dimuat ulang
                    overlay.style.display = 'none';
                    loadingImage.style.display = 'none';
                });

                // Simulasikan waktu loading data (gantilah dengan logika sesuai kebutuhan Anda)
                // Di sini, kita hanya menambahkan timeout sebagai contoh
            
            });
            loadButton2.addEventListener('click', function () {
                overlay.style.display = 'block';
                loadingImageGear.style.display = 'block';

                // Menambahkan event listener untuk mengetahui kapan halaman selesai dimuat ulang
                window.addEventListener('load', function () {
                    // Sembunyikan gambar loading dan overlay setelah halaman dimuat ulang
                    overlay.style.display = 'none';
                    loadingImageGear.style.display = 'none';
                });

                // Simulasikan waktu loading data (gantilah dengan logika sesuai kebutuhan Anda)
                // Di sini, kita hanya menambahkan timeout sebagai contoh
            
            });
        });
    </script>
</body>

</html>
